<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a task that is due.</h1>
    <p>
      Please update your status at http://elucio.com .
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
