<div id="indexFrameContainer">
  <div id="elucio_cloud">
    <img id="cloud" src="/images/cloud_200x200.png" alt="cloud"/>
    <img id="sun" src="/images/elucio_sun_med.png" alt="sun"/>
  </div>
  <img id="logo" src="/images/elucio_300x80.png" alt="elucio logo"/>
  <script>
    $('#sun').fadeIn(800);
    $('#cloud').fadeOut(3600);
  </script>
  <div id="splash0">
    <div class="splash1_points">
    Projects made simple!
    </div>
  </div>
  <div id="splash1">
    <div class="splash1_points">
    elucio = tasks + people
    </div>
    <div class="splash1_points">
    elucio is socially aware
    </div>
    <div class="splash1_points">
    elucio is simple, easy and fun
    </div>
  </div>
</div>
<div id="bottom">
    <div id="panel_cloud1">
      <div id="panel1">
        <div id="panel1row">
          <img src="/images/facebook.png" alt="Facebook" title="Facebook" class="png">
          <a href="http://www.facebook.com/pages/Elucio/137621759641203" target="_blank">Become a fan on Facebook</a>
        </div>
        <div id="panel1row">
          <img src="/images/twitter.png" alt="Follow us on Twitter" title="Follow us on Twitter" class="png">
          <a href="http://twitter.com/eluciocompany" target="_blank">Follow us on Twitter</a>
        </div>
        <div id="panel1row">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet" tw:height="25"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
            <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d8981fe294d692b"></script>
            <!-- AddThis Button END -->
          </div>
        </div>
      </div>
      <div id="panel_cloud2">
        <div id="panel2">
          elucio for mobile coming soon!
      </div>
    </div>
</div>
