<div id="faq">
<dl>

<dt>What is elucio?</dt><br>
<dd>
Elucio help groups of people mangage shared tasks or projects. It's designed to be simple, intuitive and flexible. Lite project management with low overhead.
</dd><br>

<dt>What is the current status of elucio?</dt><br>
<dd>
Eulio is in the prototype stage. It's basically a proof of concept that is very rough. We're still working out the basic functionality.
</dd><br>

</dl>
</div>
